<div class="stock-info">
	<div class="price">{{data.price}}</div>
	<div class="stat">Range: {{data.low}} - {{data.high}}</div>
	<div class="stat">52 week: {{data.52_low}} - {{data.52_hight}}</div>
	<div class="stat">Open: {{data.open}}</div>
	<div class="stat">Vol / Avg: {{data.vol}} / {{data.avg_vol}}</div>
	<div class="stat">Mkt Cap: {{data.cap}}</div>
	<div class="stat">P/E: {{data.pe}}</div>
	<div class="stat">Div/yield: {{data.dividend}} / {{data.div_yield}}</div>
	<div class="stat">EPS: {{data.eps}}</div>
	<div class="stat">Shares: {{data.so}}</div>
	<div class="stat">Beta: {{data.beta}}</div>
</div>