<div class="stock-info">
	<div class="price">{{stock.PreviousClose}}</div>
	<div class="stat">Range: {{stock.DaysLow}} - {{stock.DaysHigh}}</div>
	<div class="stat">52 week: {{stock.YearLow}} - {{stock.YearHigh}}</div>
	<div class="stat">Open: {{stock.Open}}</div>
	<div class="stat">Vol / Avg: {{stock.Volume}} / {{stock.AverageDailyVolume}}</div>
	<div class="stat">Mkt Cap: {{stock.MarketCapitalization}}</div>
	<div class="stat">P/E: {{stock.PERatio}}</div>
	<div class="stat">EPS: {{stock.DilutedEPS}}</div>
	<div class="stat">Shares: {{stock.SharesOutstanding}}</div>
</div>