<td class="text">{{data.ticker}}</td>
<td class="number">{{data.price}}</td>
<td class="number">{{data.quantity}}</td>
<td class="number">{{data.low}}</td>
<td class="number">{{data.high}}</td>
<td class="number">{{data.beta}}</td>